body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  }
  
div {
    text-align:center;
    line-height:150%;
    font-size:.85em;
}

label {
    font-size: large;
    font-style: unset;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

label:hover{
    transform: translateY(-6px);
    font-size: x-large;
    animation: none;
    transition: 0.3s;

}

span {
    font-size: medium;
}

button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}